@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<div class="row" style="padding:80px">
    <div class="col-lg-4"></div>
    <div class="col-lg-3">
        <div class="panel panel-danger">
            <div class="panel-heading" align="center"> Admin Panel</div>
            <div class="panel-body"  align="center">
                <a class="btn btn-primary form-control" href="/Admin/ViewAllUsers">View All Users</a><br /><br />
                <a class="btn btn-primary form-control" href="/Admin/ViewAllItems">View All Items</a><br /><br />
                <a class="btn btn-primary form-control" href="/Admin/ViewAllContacts">View All Messages</a><br /><br />
                <a class="btn btn-primary form-control" href="/Admin/ViewAllOrders">View All Orders</a><br /><br />


            </div>

        </div>
    </div>
</div>

