@{
    ViewBag.Title = "SearchedItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using The_Merchant.Controllers
@model List<The_Merchant.Models.Item>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                
                <td>
                    Item Name
                </td>
                <td>
                    Price
                </td>
                <td>
                    Quantity
                </td>
                <td>
                    Picture
                </td>
                <td>Brand</td>
            </tr>

        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
               

           
                <tr>
                    <td>@obj.ItemName</td>
                    <td> @obj.Price</td>

                    <td>@obj.Quantity</td>

                  
                    <td>
                        <a href="~/Content/images/@obj.Path">
                            <img src="~/Content/images/@obj.Path"  width="100" height="100" />
                        </a>
                    </td>
                   <td>@obj.Brand</td>
                </tr>
            }

        </tbody>


    </table>
   
</div>





