@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUpError</title>
</head>
<body>
    <div>
        <h1>Invalid User Name.</h1>
    </div>
</body>
</html>
